.navbar {
    background-color: #ffd6fe !important;
}

.jumbotron {
    background-color: white !important;
}

#main-content {
    padding-bottom: 120px;
    padding-top: 120px;
}

.footer {
    height: 60px;
    background-color: #ffd6fe;
}

.dropdown-menu {
    background-color: #ffd6fe !important;
}